<!DOCTYPE html>
<html lang="fr">
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- HEAD -->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="icon" href="img/logo.ico">
    <link href="css/styleHome.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script >
        //////////////////////////// Get Storage
        let monId = localStorage.getItem("id");
        let monToken = localStorage.getItem("token");
        let admin = localStorage.getItem("admin");

////////////////////////////////////////////////////  ONLOAD FONCTION  ////////////////////////////////////////////////////////
        window.onload=function(){
            // bouttons MODIFIER USER
            const dialogModif = document.getElementById('dialogModif');

            document.getElementById('openBtnModif').addEventListener('click', function() {
                dialogModif.setAttribute('open', true);
            })

            document.getElementById('closeBtnModif').addEventListener('click', function() {
                dialogModif.removeAttribute('open');
            });

            document.getElementById('modifierUser').addEventListener('click', function() {
                updateUser();
                dialogModif.removeAttribute('open');
                recupUserInfo();
            });

        
        }
////////////////////////////////////////////////////  UTILISATEUR  ////////////////////////////////////////////////////////
        //////////////////////////// RECUPERER LE USERNAME
        async function recupUserInfo(){
            let repUser = await fetch("/api/utilisateur/"+monId, {
                method: "GET",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                }
            });
            // Récupère mon user
            let myUser =  await repUser.json()
            // Récupère mon username pour l'afficher
            document.getElementById("monUsername").textContent = document.getElementById("monUsername").textContent+myUser.user.username;
            document.getElementById("monNom").textContent = document.getElementById("monNom").textContent+myUser.user.nom;
            document.getElementById("monPrenom").textContent = document.getElementById("monPrenom").textContent+myUser.user.prenom;
            document.getElementById("maVilleFav").textContent = document.getElementById("maVilleFav").textContent+myUser.user.ville_fav;
            let monNum = String(myUser.user.tel);
            if(monNum[0]==6){
                document.getElementById("monTel").textContent = document.getElementById("monTel").textContent+"0"+monNum;
            }else{
                document.getElementById("monTel").textContent = document.getElementById("monTel").textContent+"+"+monNum;
            }
            
            let maDate = new Date(myUser.user.dateNaissance); // Mise au format lisible
            document.getElementById("maDateDeNaissance").textContent = document.getElementById("maDateDeNaissance").textContent+maDate.toLocaleDateString('fr-CA');
            // Récupère mon élément

        };
        recupUserInfo();

        //////////////////////////// MODIFIER USER 

        async function updateUser(){
            let data = {username: (document.getElementById("username").value ? document.getElementById("username").value : ""),
                nom: (document.getElementById("nom").value ? document.getElementById("nom").value : "" ),
                prenom: (document.getElementById("prenom").value ? document.getElementById("prenom").value : ""),
                ville_fav: (document.getElementById("ville_fav").value ? document.getElementById("ville_fav").value : ""),
                tel: (document.getElementById("tel").value ? document.getElementById("tel").value : ""),
                dateNaissance: (document.getElementById("dateNaissance").value ? document.getElementById("dateNaissance").value : ""),
                mdp: document.getElementById("mdp").value
            }
            let repUser = await fetch("/api/utilisateur/"+monId, {
                method: "PUT",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                },
                body: JSON.stringify(data)
            });
            if (repUser.ok) {
                console.log("update");
                window.location.href="/adminPage.html";
            }
        };
        /*
        //////////////////////////// FONCTION SUPPRIMER USER
        async function deleteUser(){
            let idUserASupp = document.getElementById("idUserSupp").value;
            let repUser = await fetch("/api/utilisateur/"+idUserASupp, {
                method: "DELETE",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                }
            });
            
            window.location.href="/home.html";
        };*/

        //////////////////////////// FONCTION DECONNEXION 
        async function logoutUser(){            
            localStorage.removeItem("id");
            localStorage.removeItem("token");
            localStorage.removeItem("admin");
            localStorage.clear();
            window.location.href="/index.html";
        };

//////////////////////////////////////////////////////  AFFICHER  //////////////////////////////////////////////////////////

        //////////////////////////// RECUPERER LE OU LES TEAM SI IL Y EN A
        async function recupAllTeam(){
            let repAllTeam = await fetch("/api/team/", {
                method: "GET",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                }
            });
            if (repAllTeam.ok){
                // Récupère mes team
                let allTeam =  await repAllTeam.json();
                let nbTeam = allTeam.team.length;

                var bodyAll = document.getElementById("tabAllTeams");
                // Création d'un <table> element et d'un <tbody> element
                var tblAll = document.createElement("table");
                
                var tblTHeadAll = document.createElement("thead");

                var trAll = document.createElement("tr");

                var thNom = document.createElement("th");
                var thDesc = document.createElement("th");
                var thDate = document.createElement("th");
                
                var cellNom = document.createTextNode("Team");
                var cellDesc = document.createTextNode("Description");
                var cellDate = document.createTextNode("Date de création");
                
                thNom.appendChild(cellNom);
                thDesc.appendChild(cellDesc);
                thDate.appendChild(cellDate);

                trAll.appendChild(thNom);
                trAll.appendChild(thDesc);
                trAll.appendChild(thDate);
                
                tblTHeadAll.appendChild(trAll);

                tblAll.appendChild(tblTHeadAll);

                var tblBodyAll = document.createElement("tbody");

                // création de ligne
                for (var i = 0; i < nbTeam; i++) {
                    // creation d'une ligne du tableau
                    var rowAll = document.createElement("tr");

                    // création des colones
                    var nomTeamAll = document.createElement("td");
                    var descriptionAll = document.createElement("td");
                    var dateCreationAll = document.createElement("td");

                    var cellnomTeamAll = document.createTextNode(allTeam.team[i].nomTeam);
                    var celldescriptionAll = document.createTextNode(allTeam.team[i].Description);
                    let maDateCrea = new Date(allTeam.team[i].dateCreation);
                    var celldateAll = document.createTextNode(maDateCrea.toLocaleDateString('fr-CA'));

                    nomTeamAll.appendChild(cellnomTeamAll);
                    descriptionAll.appendChild(celldescriptionAll);
                    dateCreationAll.appendChild(celldateAll);

                    rowAll.appendChild(nomTeamAll);
                    rowAll.appendChild(descriptionAll);
                    rowAll.appendChild(dateCreationAll);

                    // ajout de la ligne au tableau
                    tblBodyAll.appendChild(rowAll);
                }

                // put the <tbody> in the <table>
                tblAll.appendChild(tblBodyAll);
                tblAll.setAttribute("border", "1");
                // appends <table> into <body>
                bodyAll.appendChild(tblAll);
            }
            
        }
        recupAllTeam();

        //////////////////////////// RECUPERER LE OU LES SPORTS SI IL Y EN A
        async function recupAllSport(){
            let repAllSport = await fetch("/api/sport/", {
                method: "GET",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                }
            });
            if (repAllSport.ok){
                // Récupère les sports
                let allSport =  await repAllSport.json();
                let nbSport = allSport.sports.length;

                var bodyAll = document.getElementById("tabAllSports");
                // Création d'un <table> element et d'un <tbody> element
                var tblAll = document.createElement("table");
                
                var tblTHeadAll = document.createElement("thead");

                var trAll = document.createElement("tr");

                var thNom = document.createElement("th");
                var thDesc = document.createElement("th");
                var thCate = document.createElement("th");
                
                var cellNom = document.createTextNode("Sport");
                var cellDesc = document.createTextNode("Description");
                var cellCate = document.createTextNode("Categorie");
                
                thNom.appendChild(cellNom);
                thDesc.appendChild(cellDesc);
                thCate.appendChild(cellCate);

                trAll.appendChild(thNom);
                trAll.appendChild(thDesc);
                trAll.appendChild(thCate);
                
                tblTHeadAll.appendChild(trAll);

                tblAll.appendChild(tblTHeadAll);

                var tblBodyAll = document.createElement("tbody");

                // création de ligne
                for (var i = 0; i < nbSport; i++) {
                    // creation d'une ligne du tableau
                    var rowAll = document.createElement("tr");

                    // création des colones
                    var nomSportAll = document.createElement("td");
                    var descriptionAll = document.createElement("td");
                    var categorieAll = document.createElement("td");

                    var cellnomSportAll = document.createTextNode(allSport.sports[i].nomSport);
                    var celldescriptionAll = document.createTextNode(allSport.sports[i].description);
                    var cellcateAll = document.createTextNode(allSport.sports[i].categorie);

                    nomSportAll.appendChild(cellnomSportAll);
                    descriptionAll.appendChild(celldescriptionAll);
                    categorieAll.appendChild(cellcateAll);

                    rowAll.appendChild(nomSportAll);
                    rowAll.appendChild(descriptionAll);
                    rowAll.appendChild(categorieAll);

                    // ajout de la ligne au tableau
                    tblBodyAll.appendChild(rowAll);
                }

                // put the <tbody> in the <table>
                tblAll.appendChild(tblBodyAll);
                tblAll.setAttribute("border", "1");
                // appends <table> into <body>
                bodyAll.appendChild(tblAll);
            }
            
        }
        recupAllSport();

        //////////////////////////// RECUPERER LE OU LES SPORTS SI IL Y EN A
        async function recupAllSpot(){
            let repAllSpot = await fetch("/api/spot/", {
                method: "GET",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                }
            });
            if (repAllSpot.ok){
                // Récupère les sports
                let allSpot =  await repAllSpot.json();
                let nbSpot = allSpot.spots.length;

                var bodyAll = document.getElementById("tabAllSpots");
                // Création d'un <table> element et d'un <tbody> element
                var tblAll = document.createElement("table");
                
                var tblTHeadAll = document.createElement("thead");

                var trAll = document.createElement("tr");

                var thNom = document.createElement("th");
                var thVille = document.createElement("th");
                var thAdresse = document.createElement("th");
                
                var cellNom = document.createTextNode("Spot");
                var cellVille = document.createTextNode("Ville");
                var cellAdresse = document.createTextNode("Adresse");
                
                thNom.appendChild(cellNom);
                thVille.appendChild(cellVille);
                thAdresse.appendChild(cellAdresse);

                trAll.appendChild(thNom);
                trAll.appendChild(thVille);
                trAll.appendChild(thAdresse);
                
                tblTHeadAll.appendChild(trAll);

                tblAll.appendChild(tblTHeadAll);

                var tblBodyAll = document.createElement("tbody");

                // création de ligne
                for (var i = 0; i < nbSpot; i++) {
                    // creation d'une ligne du tableau
                    var rowAll = document.createElement("tr");

                    // création des colones
                    var nomSpotAll = document.createElement("td");
                    var villeAll = document.createElement("td");
                    var adresseAll = document.createElement("td");

                    var cellnomSpotAll = document.createTextNode(allSpot.spots[i].nomSpot);
                    var cellvilleAll = document.createTextNode(allSpot.spots[i].ville);
                    var celladresseAll = document.createTextNode(allSpot.spots[i].adresse);

                    nomSpotAll.appendChild(cellnomSpotAll);
                    villeAll.appendChild(cellvilleAll);
                    adresseAll.appendChild(celladresseAll);

                    rowAll.appendChild(nomSpotAll);
                    rowAll.appendChild(villeAll);
                    rowAll.appendChild(adresseAll);

                    // ajout de la ligne au tableau
                    tblBodyAll.appendChild(rowAll);
                }

                // put the <tbody> in the <table>
                tblAll.appendChild(tblBodyAll);
                tblAll.setAttribute("border", "1");
                // appends <table> into <body>
                bodyAll.appendChild(tblAll);
            }
            
        }
        recupAllSpot();

        //////////////////////////// RECUPERER LE OU LES SPORTS SI IL Y EN A
        async function recupAllUser(){
            let repAllUser = await fetch("/api/utilisateur/", {
                method: "GET",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                }
            });
            if (repAllUser.ok){
                // Récupère les sports
                let allUser =  await repAllUser.json();
                let nbUser = allUser.users.length;

                var bodyAll = document.getElementById("tabAllUsers");
                // Création d'un <table> element et d'un <tbody> element
                var tblAll = document.createElement("table");
                
                var tblTHeadAll = document.createElement("thead");

                var trAll = document.createElement("tr");

                var thUsername = document.createElement("th");
                var thNom = document.createElement("th");
                var thPrenom = document.createElement("th");
                var thVille = document.createElement("th");
                var thTel = document.createElement("th");
                var thDate = document.createElement("th");
                var thTeam = document.createElement("th");
                
                var cellUsername = document.createTextNode("Username");
                var cellNom = document.createTextNode("Nom");
                var cellPrenom = document.createTextNode("Prénom");
                var cellVille = document.createTextNode("Ville");
                var cellTel = document.createTextNode("Téléphone");
                var cellDate = document.createTextNode("Date de naissance");
                var cellTeam = document.createTextNode("Team");
                
                thUsername.appendChild(cellUsername);
                thNom.appendChild(cellNom);
                thPrenom.appendChild(cellPrenom);
                thVille.appendChild(cellVille);
                thTel.appendChild(cellTel);
                thDate.appendChild(cellDate);
                thTeam.appendChild(cellTeam);

                trAll.appendChild(thUsername);
                trAll.appendChild(thNom);
                trAll.appendChild(thPrenom);
                trAll.appendChild(thVille);
                trAll.appendChild(thTel);
                trAll.appendChild(thDate);
                trAll.appendChild(thTeam);
                
                tblTHeadAll.appendChild(trAll);

                tblAll.appendChild(tblTHeadAll);

                var tblBodyAll = document.createElement("tbody");

                // création de ligne
                for (var i = 0; i < nbUser; i++) {
                    // creation d'une ligne du tableau
                    var rowAll = document.createElement("tr");

                    // création des colones
                    var tdUsername = document.createElement("td");
                    var tdNom = document.createElement("td");
                    var tdPrenom = document.createElement("td");
                    var tdVille = document.createElement("td");
                    var tdTel = document.createElement("td");
                    var tdDate = document.createElement("td");
                    var tdTeam = document.createElement("td");

                    // RECUPERER TEAM A PARTIR D'UN FETCH SUR L'ID
                    let repTeam = await fetch("/api/team/"+allUser.users[i].team, {
                      method: "GET",
                      headers: {
                          'content-type': 'application/json',
                          'authorization': localStorage.getItem('token'),
                      }
                    });
                    if(repTeam.ok){
                      let myTeam =  await repTeam.json()
                      var cellMyTeam = document.createTextNode(myTeam.team.nomTeam);
                    }else {
                      var cellMyTeam = document.createTextNode(allUser.users[i].team);
                    }
                    
                    if(cellMyTeam==null || cellMyTeam==undefined){
                        var cellTeam = document.createTextNode(" ");
                    }else {
                        var cellTeam = cellMyTeam;
                    }
                    
                    var cellUsername = document.createTextNode(allUser.users[i].username);
                    var cellNom = document.createTextNode(allUser.users[i].nom);
                    var cellPrenom = document.createTextNode(allUser.users[i].prenom);
                    var cellVille = document.createTextNode(allUser.users[i].ville_fav);
                    var cellTel = document.createTextNode(allUser.users[i].tel);
                    let maDate = new Date(allUser.users[i].dateNaissance);
                    var cellDate = document.createTextNode(maDate.toLocaleDateString('fr-CA'));
                    

                    tdUsername.appendChild(cellUsername);
                    tdNom.appendChild(cellNom);
                    tdPrenom.appendChild(cellPrenom);
                    tdVille.appendChild(cellVille);
                    tdTel.appendChild(cellTel);
                    tdDate.appendChild(cellDate);
                    tdTeam.appendChild(cellTeam);

                    rowAll.appendChild(tdUsername);
                    rowAll.appendChild(tdNom);
                    rowAll.appendChild(tdPrenom);
                    rowAll.appendChild(tdVille);
                    rowAll.appendChild(tdTel);
                    rowAll.appendChild(tdDate);
                    rowAll.appendChild(tdTeam);

                    // ajout de la ligne au tableau
                    tblBodyAll.appendChild(rowAll);
                }

                // put the <tbody> in the <table>
                tblAll.appendChild(tblBodyAll);
                tblAll.setAttribute("border", "1");
                // appends <table> into <body>
                bodyAll.appendChild(tblAll);
            }
            
        }
        recupAllUser();

//////////////////////////////////////////////////////  CREER  //////////////////////////////////////////////////////////

        //////////////////////////// CREER TEAM
        async function createTeam(){
            let data = {nomTeam: document.getElementById("nomTeamCreate").value,
                Description: document.getElementById("descriptionTeamCreate").value
            }
            let repTeam = await fetch("/api/team", {
                method: "POST",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token')
                },
                body: JSON.stringify(data)
            });
            if (repTeam.ok) {
                console.log("team créée");
                window.location.href="/adminPage.html";
            } else {
                alert("Un problème est survenu lors de la création de la team")
            }
        };

        //////////////////////////// CREER SPORT
        async function createSport(){
            let data = {nomSport: document.getElementById("nomSportCreate").value,
                    categorie: document.getElementById("cateSportCreate-select").value,
                    description: document.getElementById("descriptionSportCreate").value
            }
            let repSport = await fetch("/api/sport", {
                method: "POST",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token')
                },
                body: JSON.stringify(data)
            });
            if (repSport.ok) {
                console.log("sport créé");
                window.location.href="/adminPage.html";
            } else {
                alert("Un problème est survenu lors de la création de ce sport")
            }
        };

        //////////////////////////// CREER SPOT
        async function createSpot(){
            let data = {nomSpot: document.getElementById("nomSpotCreate").value,
                    ville: document.getElementById("villeSpotCreate").value,
                    adresse: document.getElementById("adresseSpotCreate").value
            }
            let repSport = await fetch("/api/spot", {
                method: "POST",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token')
                },
                body: JSON.stringify(data)
            });
            if (repSport.ok) {
                console.log("spot créé");
                window.location.href="/adminPage.html";
            } else {
                alert("Un problème est survenu lors de la création de ce spot")
            }
        };

    </script>
</head>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- BODY -->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->

<body>
    <!-- HEADER -->
    <header class="header">
        <ul id="ulHeader">
            <li><input id="Déconnexion" type="button" value="Déconnexion" onclick="logoutUser();"/></li>
            <li><a href="./sport.html">Sports</a></li>
            <li><a href="/entrainement.html">Entrainements</a></li>
            <li><a>Acceuil</a></li>
            <li class="liHead liHeadImg"><a href="/index.html"><img src="img/Sportime_logo_white.png" alt="Logo Sportime blanc"></a></li>
        </ul>
    </header>

    <div class="imgTitleAdmin"></div>

    <!-- PROFIL -->
    <div id="profil">
        <h1>Mon profil d'amin</h1>
        <p>Vous avez un compte admin</p>
        <p id="monUsername">Nom d'utilisateur : </p>
        <p id="monNom">Nom : </p>
        <p id="monPrenom">Prénom : </p>
        <p id="maVilleFav">La ville où je préfère pratiquer : </p>
        <p id="monTel">Téléphone : </p>
        <p id="maDateDeNaissance">Date de naissance : </p>

        <!-- MODIFIER MON COMPTE -->
        <button id="openBtnModif" class="butt">Modifier mon profil</button>
        <dialog id="dialogModif">
            <button id="closeBtnModif" class="butt">Annuler</button>
            <!-- Champs de mofication-->
            <form action="javascript:updateUser()">
                <h2>Modifier vos données</h2>
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" name="username" id="username" />
                <br/>
                <label for="nom">Nom :</label>
                <input type="text" name="nom" id="nom" />
                <br/>
                <label for="prenom">Prénom :</label>
                <input type="text" name="prenom" id="prenom" />
                <br/>
                <label for="ville_fav">Ville favorite :</label>
                <input type="text" name="ville_fav" id="ville_fav" />
                <br/>
                <label for="tel">Téléphone :</label>
                <input type="tel" name="tel" id="tel" pattern="^(\+33|0)[1-9](\d\d){4}$" title="Téléphone non valide, il doit commencer par un 0 ou +33 et doit comporter 9 autres numéros"/>
                <br/>
                <label for="dateNaissance">Votre date de naissance :</label>
                <input type="date" name="dateNaissance" id="dateNaissance" />
                <br/>
                <label for="mdp">Votre mot de passe :</label>
                <label class="obligation" >*obligatoire</label>
                <input type="password" name="mdp" id="mdp" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$" title="Mot de passe non valide, il doit comporter au moins une minuscule, une majuscule, un chiffre et entre 8 et 20 charactères." required="required"/>
                <br/>
                <button id="modifierUser" class="butt">Modifier</button>
            </form>
        </dialog>
    </div>
    
    <!-- TEAM -->
    <div id="team">
        <h1 id="maTeamAMoi">Ajouter une Team</h1>
        <div id="divAjoutTeam">
            <form action="javascript:createTeam()">
                <label for="nomTeamCreate">Nom de la team :</label>
                <input type="text" name="nomTeamCreate" id="nomTeamCreate" required="required"/>
                <br/>
                <label for="descriptionTeamCreate">Description :</label>
                <input type="text" name="descriptionTeamCreate" id="descriptionTeamCreate" required="required"/>
                <input class="butt" type="submit" value="Création">
              </form>
        </div>
    </div>

    <div id="toutesTeam">
        <h1>Toutes les teams</h1>
        <div id="tabAllTeams"></div>
    </div>
    
    <!-- SPORT -->
    <div id="sport">
        <h1 id="monSportAMoi">Ajouter un Sport</h1>
        <div id="divAjoutSport">
            <form action="javascript:createSport()">
                <label for="nomSportCreate">Nom du sport :</label>
                <input type="text" name="nomSportCreate" id="nomSportCreate" required="required"/>
                <br/>
                <label for="cateSportCreate">Categorie :</label>
                <select name="cateSportCreate" id="cateSportCreate-select">
                    <option value="equipe">Sport d'équipe</option>
                    <option value="solo">Sport solo</option>
                </select>
                <br>
                <label for="descriptionSportCreate">Description :</label>
                <input type="text" name="descriptionSportCreate" id="descriptionSportCreate" required="required"/>
                <input class="butt" type="submit" value="Créer ce sport">
              </form>
        </div>
    </div>

    <div id="tousSport">
        <h1>Tous les sports</h1>
        <div id="tabAllSports"></div>
    </div>

    <!-- SPOT -->
    <div id="spot">
        <h1 id="monSportAMoi">Ajouter un Spot</h1>
        <div id="divAjoutSpot">
            <form action="javascript:createSpot()">
                <label for="nomSpotCreate">Nom du spot :</label>
                <input type="text" name="nomSpotCreate" id="nomSpotCreate" required="required"/>
                <br/>
                <label for="villeSpotCreate">Ville :</label>
                <input type="text" name="villeSpotCreate" id="villeSpotCreate" required="required"/>
                <br>
                <label for="adresseSpotCreate">Adresse :</label>
                <input type="text" name="adresseSpotCreate" id="adresseSpotCreate" required="required"/>
                <input class="butt" type="submit" value="Créer ce spot">
              </form>
        </div>
    </div>

    <div id="tousSpot">
        <h1>Tous les spots</h1>
        <div id="tabAllSpots"></div>
    </div>

    <!-- UTILISATEURS -->
    
    <div id="tousUser">
        <h1>Tous les utilisateurs</h1>
        <div id="tabAllUsers"></div>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <ul id="ulFooter">
            <li class="liBot"><a href="/aPropos.html">À propos</a></li>
            <li class="liBot"><a href="/politique.html">Politique de confidentialité</a></li>
            <li class="liBot"><a href="/session.html">Session</a></li>
            <li class="liBot"><a href="#reseaux">Réseaux sociaux</a></li>
        </ul>
    </footer>
</body>

</html>