<!DOCTYPE html>
<html lang="fr">
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- HEAD -->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="icon" href="img/logo.ico">
    <link href="css/styleHome.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script >
        //////////////////////////// Get Storage
        let monId = localStorage.getItem("id");
        let monToken = localStorage.getItem("token");
        let admin = localStorage.getItem("admin");

////////////////////////////////////////////////////  ONLOAD FONCTION  ////////////////////////////////////////////////////////
        window.onload=function(){
            // bouttons MODIFIER USER
            const dialogModif = document.getElementById('dialogModif');

            document.getElementById('openBtnModif').addEventListener('click', function() {
                dialogModif.setAttribute('open', true);
            })

            document.getElementById('closeBtnModif').addEventListener('click', function() {
                dialogModif.removeAttribute('open');
            });

            document.getElementById('modifierUser').addEventListener('click', function() {
                updateUser();
                dialogModif.removeAttribute('open');
                recupUserInfo();
            });

        
        }
////////////////////////////////////////////////////  UTILISATEUR  ////////////////////////////////////////////////////////
        //////////////////////////// RECUPERER LE USERNAME
        async function recupUserInfo(){
            let repUser = await fetch("/api/utilisateur/"+monId, {
                method: "GET",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                }
            });
            // Récupère mon user
            let myUser =  await repUser.json()
            // Récupère mon username pour l'afficher
            document.getElementById("monUsername").textContent = document.getElementById("monUsername").textContent+myUser.user.username;
            document.getElementById("monNom").textContent = document.getElementById("monNom").textContent+myUser.user.nom;
            document.getElementById("monPrenom").textContent = document.getElementById("monPrenom").textContent+myUser.user.prenom;
            document.getElementById("maVilleFav").textContent = document.getElementById("maVilleFav").textContent+myUser.user.ville_fav;
            let monNum = String(myUser.user.tel);
            if(monNum[0]==6){
                document.getElementById("monTel").textContent = document.getElementById("monTel").textContent+"0"+monNum;
            }else{
                document.getElementById("monTel").textContent = document.getElementById("monTel").textContent+"+"+monNum;
            }
            
            let maDate = new Date(myUser.user.dateNaissance); // Mise au format lisible
            document.getElementById("maDateDeNaissance").textContent = document.getElementById("maDateDeNaissance").textContent+maDate.toLocaleDateString('fr-CA');
            // Récupère mon élément

        };
        recupUserInfo();

        //////////////////////////// MODIFIER USER 

        async function updateUser(){
            let data = {username: (document.getElementById("username").value ? document.getElementById("username").value : ""),
                nom: (document.getElementById("nom").value ? document.getElementById("nom").value : "" ),
                prenom: (document.getElementById("prenom").value ? document.getElementById("prenom").value : ""),
                ville_fav: (document.getElementById("ville_fav").value ? document.getElementById("ville_fav").value : ""),
                tel: (document.getElementById("tel").value ? document.getElementById("tel").value : ""),
                dateNaissance: (document.getElementById("dateNaissance").value ? document.getElementById("dateNaissance").value : ""),
                mdp: document.getElementById("mdp").value
            }
            let repUser = await fetch("/api/utilisateur/"+monId, {
                method: "PUT",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                },
                body: JSON.stringify(data)
            });
            if (repUser.ok) {
                console.log("update");
                window.location.href="/adminPage.html";
            }
        };
        /*
        //////////////////////////// FONCTION SUPPRIMER USER
        async function deleteUser(){
            let idUserASupp = document.getElementById("idUserSupp").value;
            let repUser = await fetch("/api/utilisateur/"+idUserASupp, {
                method: "DELETE",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                }
            });
            
            window.location.href="/home.html";
        };*/

        //////////////////////////// FONCTION DECONNEXION 
        async function logoutUser(){            
            localStorage.removeItem("id");
            localStorage.removeItem("token");
            localStorage.removeItem("admin");
            localStorage.clear();
            window.location.href="/index.html";
        };

//////////////////////////////////////////////////////  TEAM  //////////////////////////////////////////////////////////

        //////////////////////////// RECUPERER LE OU LES TEAM SI IL Y EN A
        async function recupAllTeam(){
            let repAllTeam = await fetch("/api/team/", {
                method: "GET",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                }
            });
            if (repAllTeam.ok){
                // Récupère mes team
                let allTeam =  await repAllTeam.json();
                let nbTeam = allTeam.team.length;

                var bodyAll = document.getElementById("tabAllTeams");
                // Création d'un <table> element et d'un <tbody> element
                var tblAll = document.createElement("table");
                
                var tblTHeadAll = document.createElement("thead");

                var trAll = document.createElement("tr");

                var thNom = document.createElement("th");
                var thDesc = document.createElement("th");
                var thDate = document.createElement("th");
                
                var cellNom = document.createTextNode("Sport");
                var cellDesc = document.createTextNode("Description");
                var cellDate = document.createTextNode("Date de création");
                
                thNom.appendChild(cellNom);
                thDesc.appendChild(cellDesc);
                thDate.appendChild(cellDate);

                trAll.appendChild(thNom);
                trAll.appendChild(thDesc);
                trAll.appendChild(thDate);
                
                tblTHeadAll.appendChild(trAll);

                tblAll.appendChild(tblTHeadAll);

                var tblBodyAll = document.createElement("tbody");

                // création de ligne
                for (var i = 0; i < nbTeam; i++) {
                    // creation d'une ligne du tableau
                    var rowAll = document.createElement("tr");

                    // création des colones
                    var nomTeamAll = document.createElement("td");
                    var descriptionAll = document.createElement("td");
                    var dateCreationAll = document.createElement("td");

                    var cellnomTeamAll = document.createTextNode(allTeam.team[i].nomTeam);
                    var celldescriptionAll = document.createTextNode(allTeam.team[i].Description);
                    let maDateCrea = new Date(allTeam.team[i].dateCreation);
                    var celldateAll = document.createTextNode(maDateCrea.toLocaleDateString('fr-CA'));

                    nomTeamAll.appendChild(cellnomTeamAll);
                    descriptionAll.appendChild(celldescriptionAll);
                    dateCreationAll.appendChild(celldateAll);

                    rowAll.appendChild(nomTeamAll);
                    rowAll.appendChild(descriptionAll);
                    rowAll.appendChild(dateCreationAll);

                    // ajout de la ligne au tableau
                    tblBodyAll.appendChild(rowAll);
                }

                // put the <tbody> in the <table>
                tblAll.appendChild(tblBodyAll);
                tblAll.setAttribute("border", "1");
                // appends <table> into <body>
                bodyAll.appendChild(tblAll);
            }
            
        }
        recupAllTeam();

        //////////////////////////// CREER TEAM
        async function createTeam(){
            let data = {nomTeam: document.getElementById("nomTeamCreate").value,
                Description: document.getElementById("descriptionTeamCreate").value
            }
            let repTeam = await fetch("/api/team", {
                method: "POST",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token')
                },
                body: JSON.stringify(data)
            });
            if (repTeam.ok) {
                console.log("team créée");
                window.location.href="/adminPage.html";
            } else {
                alert("Un problème est survenu lors de la création de la team")
            }
        };
/*
        //////////////////////////// SUPPRIMER TEAM
        async function suppTeam(){
            let data = {team: null};
            let repUser = await fetch("/api/utilisateur/team/"+monId, {
                method: "PUT",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token')
                },
                body: JSON.stringify(data)
            });
            if (repUser.ok) {
                console.log("supp team");
                window.location.href="/home.html";
            } else {
                alert("Un problème est survenu lors de la suppression")
            }
        };*/

    </script>
</head>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- BODY -->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->

<body>
    <!-- HEADER -->
    <header class="header">
        <ul id="ulHeader">
            <li><input id="Déconnexion" type="button" value="Déconnexion" onclick="logoutUser();"/></li>
            <li><a href="./sport.html">Sports</a></li>
            <li><a href="/entrainement.html">Entrainements</a></li>
            <li><a>Acceuil</a></li>
            <li class="liHead liHeadImg"><a href="/index.html"><img src="img/Sportime_logo_white.png" alt="Logo Sportime blanc"></a></li>
        </ul>
    </header>

    <div class="imgTitleAdmin"></div>

    <!-- PROFIL -->
    <div id="profil">
        <h1>Mon profil d'amin</h1>
        <p>Vous avez un compte admin</p>
        <p id="monUsername">Nom d'utilisateur : </p>
        <p id="monNom">Nom : </p>
        <p id="monPrenom">Prénom : </p>
        <p id="maVilleFav">La ville où je préfère pratiquer : </p>
        <p id="monTel">Téléphone : </p>
        <p id="maDateDeNaissance">Date de naissance : </p>

        <!-- MODIFIER MON COMPTE -->
        <button id="openBtnModif" class="butt">Modifier mon profil</button>
        <dialog id="dialogModif">
            <button id="closeBtnModif" class="butt">Annuler</button>
            <!-- Champs de mofication-->
            <form action="javascript:updateUser()">
                <h2>Modifier vos données</h2>
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" name="username" id="username" />
                <br/>
                <label for="nom">Nom :</label>
                <input type="text" name="nom" id="nom" />
                <br/>
                <label for="prenom">Prénom :</label>
                <input type="text" name="prenom" id="prenom" />
                <br/>
                <label for="ville_fav">Ville favorite :</label>
                <input type="text" name="ville_fav" id="ville_fav" />
                <br/>
                <label for="tel">Téléphone :</label>
                <input type="tel" name="tel" id="tel" pattern="^(\+33|0)[1-9](\d\d){4}$" title="Téléphone non valide, il doit commencer par un 0 ou +33 et doit comporter 9 autres numéros"/>
                <br/>
                <label for="dateNaissance">Votre date de naissance :</label>
                <input type="date" name="dateNaissance" id="dateNaissance" />
                <br/>
                <label for="mdp">Votre mot de passe :</label>
                <label class="obligation" >*obligatoire</label>
                <input type="password" name="mdp" id="mdp" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$" title="Mot de passe non valide, il doit comporter au moins une minuscule, une majuscule, un chiffre et entre 8 et 20 charactères." required="required"/>
                <br/>
                <button id="modifierUser" class="butt">Modifier</button>
            </form>
        </dialog>
    </div>
    
    <!-- TEAM -->
    <div id="team">
        <h1 id="maTeamAMoi">Ajouter une Team</h1>
        <div id="divAjoutTeam">
            <form action="javascript:createTeam()">
                <label for="nomTeamCreate">Nom de la team :</label>
                <input type="text" name="nomTeamCreate" id="nomTeamCreate" required="required"/>
                <br/>
                <label for="descriptionTeamCreate">Description :</label>
                <input type="text" name="descriptionTeamCreate" id="descriptionTeamCreate" required="required"/>
                <input type="submit" value="Création">
              </form>
        </div>
    </div>

    <div id="toutesTeam">
        <h1>Toutes les teams</h1>
        <div id="tabAllTeams"></div>
    </div>
    
    
    <!-- ENTRAINEMENT -->
    <!--
    <div id="divEntrainements">
        <h1>Mes entrainements</h1>
        <a href="/entrainement.html" id="entrainements">S'entrainer !</a>
    </div>
    -->

    <!-- FOOTER -->
    <footer class="footer">
        <ul id="ulFooter">
            <li class="liBot"><a href="/aPropos.html">À propos</a></li>
            <li class="liBot"><a href="/politique.html">Politique de confidentialité</a></li>
            <li class="liBot"><a href="/session.html">Session</a></li>
            <li class="liBot"><a href="#reseaux">Réseaux sociaux</a></li>
        </ul>
    </footer>
</body>

</html>