<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Propos - Sportime</title>
    <link rel="icon" href="img/logo.ico">
</head>
<body>
    <a id="retourSite" href="">Retour au site</a>
    <h1>A propos</h1>
    <h2>©Sportime</h2>
    <p>Sportime est un projet web réalisé par Laura Benaiton <br>
        L'application a pour objectif finale d'aider les sportifs 'urbains' à s'entrainer à plusieurs et à connaître les autres sportif autour de chez eux (ou en déplacements).</p>
</body>
</html>

<script>
    window.onload=function(){
        let monId = localStorage.getItem("id");
        let admin = localStorage.getItem("admin");
        
        if(monId != null){
            let a = document.getElementById("retourSite");
            if(admin){
                a.href ="/adminPage.html";
            } else {
                a.href ="/home.html";
            }
            
        }else {
            let a = document.getElementById("retourSite");
            a.href ="/index.html";
        }
    }
</script>

<style>
    body {
        font-family:  'Prompt', Georgia, serif;
        text-align: center;
    }
    #retourSite {
        border: none;
        background-color: hsl(0, 0%, 20%);
        color: #fff;
        border-radius: 3px;
        width: 5%;
        height: 3%;
        font-size: 1rem;
        font-family: sans-serif;
        cursor: pointer;
    }

</style>