<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Propos - Sportime</title>
    <link rel="icon" href="img/logo.ico">
    <link href="css/styleHome.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <ul id="ulHeader">
            <li><a id="retourSite" class="butt" href="">Acceuil</a></li>
            <li class="liHead liHeadImg"><a href="/index.html"><img src="img/Sportime_logo_white.png" alt="Logo Sportime blanc"></a></li>
        </ul>
    </header>

    <div class="imgTitleVide"></div>

    <div id="entrainementsProp">
        <h1>A propos</h1>
        <h2>©Sportime</h2>
        <p>Sportime est un projet web réalisé par Laura Benaiton <br>
            L'application a pour objectif finale d'aider les sportifs 'urbains' à s'entrainer à plusieurs et à connaître les autres sportif autour de chez eux (ou en déplacements).<br>
            Pour tout contact ou problème, contactez laulilaura@orange.fr
        </p>

    </div>
    <!-- FOOTER -->
    <footer class="footer">
        <ul id="ulFooter">
            <li class="liBot"><a href="/aPropos.html">À propos</a></li>
            <li class="liBot"><a href="/politique.html">Politique de confidentialité</a></li>
            <li class="liBot"><a href="/session.html">Session</a></li>
            <li class="liBot"><a href="#reseaux">Réseaux sociaux</a></li>
        </ul>
    </footer>
    </body>
</html>

<script>
    window.onload=function(){
        let monId = localStorage.getItem("id");
        let admin = localStorage.getItem("admin");
        
        if(monId != null){
            let a = document.getElementById("retourSite");
            if(admin){
                a.href ="/adminPage.html";
            } else {
                a.href ="/home.html";
            }
            
        }else {
            let a = document.getElementById("retourSite");
            a.href ="/index.html";
        }
    }
</script>

<style>
    body {
        font-family:  'Prompt', Georgia, serif;
        text-align: center;
    }
    #retourSite {
        border: none;
        background-color: hsl(0, 0%, 20%);
        color: #fff;
        border-radius: 3px;
        width: 5%;
        height: 3%;
        font-size: 1rem;
        font-family: sans-serif;
        cursor: pointer;
    }

</style>