<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion - Sportime</title>
    <link rel="icon" href="img/logo.ico">
    <link href="css/connexion.css" rel="stylesheet">
</head>

<body>
<!-- BODY -->
<div id="connexion">
  <form action="javascript:connexionAdmin()">
    <label for="username">Votre nom d'administrateur :</label>
    <input type="text" name="username" id="username" required="required"/>
    <br/>
    <label for="mdp">Votre mot de passe :</label>
    <input type="password" name="mdp" id="mdp" required="required"/>
    <br/>
    <input type="submit" value="Connexion">
  </form>
</div>
  
    <!-- FOOTER -->
    <footer class="footer">
      <ul id="ulFooter">
        <li class="liBot"><a href="/aPropos.html">À propos</a></li>
        <li class="liBot"><a href="/politique.html">Politique de confidentialité</a></li>
        <li class="liBot"><a href="/session.html">Session</a></li>
        <li class="liBot"><a href="#reseaux">Réseaux sociaux</a></li>
      </ul>
    </footer>
  </div> 

<!--Js -->
    <script>

        async function connexionAdmin(){
          let data = {username: document.getElementById("username").value,
                    mdp: document.getElementById("mdp").value
                  }
          let repAdminLogin = await fetch("/api/utilisateur/login/admin", {
              method: "POST",
              headers: {'Content-Type': 'application/json'}, 
              body: JSON.stringify(data)
          });
          if(repAdminLogin.ok){
            let admin =  await repAdminLogin.json()
            localStorage.setItem("id", admin._id);
            localStorage.setItem("token", admin.token);
            localStorage.setItem("admin", admin.admin);
            window.location.href="/adminPage.html"
          } else{
            alert('Identifiant ou mot de passe incorecte ou compte non administrateur');
          }          
        };
    </script>
    
  </body>
</html>