<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <script type="text/javascript" async>
        let monId = sessionStorage.getItem("_id");
        // RECUPERER LE USERNAME
        async function recupUsername(){
            let repUser = await fetch("/api/utilisateur/"+monId, {
                method: "GET",
                headers: {'Content-Type': 'application/json'}
            });
            // Récupère mon user
            let myUser =  await repUser.json()
            // Récupère mon username
            var myUsername = myUser.user.username;
            console.log(myUsername);
            // Récupère mon élément
            document.getElementById("monUsername").textContent = myUsername;

        };
        recupUsername();

        // RECUPERER LA TERAM SI IL Y A
        async function recupTeam(){
            let repUser = await fetch("/api/utilisateur/"+monId, {
                method: "GET",
                headers: {'Content-Type': 'application/json'}
            });
            // Récupère mon user
            let myUser =  await repUser.json()
            // Récupère mon id de Team
            var myIdTeam = myUser.user.team;

            let repTeam = await fetch("/api/team/"+myIdTeam, {
                method: "GET",
                headers: {'Content-Type': 'application/json'}
            });
            // Récupère mon user
            let myTeamInfo =  await repTeam.json()

            console.log(myTeamInfo);
            if(myTeamInfo != null){
            // Récupère mon élément et ajoute si une team ses caractéristique
            document.getElementById("entrainements").insertAdjacentHTML("afterend",
                "<ul><li>"+myTeamInfo.team.nomTeam+"</li><li>"+myTeamInfo.team.Description+"</li><li>"+myTeamInfo.team.dateCreation+"</li></ul>");
            }else {
                document.getElementById("entrainements").insertAdjacentHTML("afterend",
                "<p>Tu n'as pas encore de Team !</p>");
            }
        };
        recupTeam();
    </script>
</head>

<body>
    <!-- HEADER -->
    <header class="header">
        <ul>
          <li><a href="">Acceuil</a></li>
          <li><a href="/entrainement.html">Entrainements</a></li>
          <li><a href="/index.html">Déconnexion</a></li>
        </ul>
      </footer>
    </div> 

    <div id="profil">
        <h1>Mon profil</h1>
        <h1 id="monUsername"></h1>
    </div>

    <a href="/entrainement.html" id="entrainements">Entrainement</a>
    <div id="team">
        <h1>Ma Team</h1>
        <ul>
            <li id="nomTeam"></li>
            <li id="descriptionTeam"></li>
            <li id="dateCreationTeam"></li>
        </ul>
        
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <ul>
          <li><a href="#aPropos">À propos</a></li>
          <li><a href="#politique">Politique de confidentialité</a></li>
          <li><a href="#session">Session</a></li>
          <li><a href="#reseaux">Réseaux sociaux</a></li>
        </ul>
      </footer>
    </div> 
</body>
</html>