<!DOCTYPE html>
<html lang="fr">
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- HEAD -->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="icon" href="img/logo.ico">
    <script >
        //////////////////////////// Get Storage
        let monId = localStorage.getItem("id");
        let monToken = localStorage.getItem("token");

////////////////////////////////////////////////////  ONLOAD FONCTION  ////////////////////////////////////////////////////////
        window.onload=function(){

            // bouttons MODIFIER USER
            const dialogModif = document.getElementById('dialogModif');

            document.getElementById('openBtnModif').addEventListener('click', function() {
                dialogModif.setAttribute('open', true);
                console.log("dialog ouvert");
            })

            document.getElementById('closeBtnModif').addEventListener('click', function() {
                dialogModif.removeAttribute('open');
                console.log("dialog fermé");
            });

            document.getElementById('modifierUser').addEventListener('click', function() {
                updateUser();
                dialogModif.removeAttribute('open');
                recupUserInfo();
                console.log("dialog fermé");
            });

            // bouttons SUPPRIMER USER
            const dialogSup = document.getElementById('dialogSup');

            document.getElementById('openBtnSup').addEventListener('click', function() {
                dialogSup.setAttribute('open', true);
                console.log("dialog ouvert");
            })

            document.getElementById('closeBtnSup').addEventListener('click', function() {
                dialogSup.removeAttribute('open');
                console.log("dialog fermé");
            });

            document.getElementById('supprimerUser').addEventListener('click', deleteUser);

            //////////////////////////// AJOUTER UNE TEAM
            const ajouterTeam = document.getElementById("ajouterTeam");
            const divAjoutTeam = document.getElementById("divAjoutTeam");
            const TeamsExistantes = document.getElementById("TeamsExistantes");
            const validerTeam = document.getElementById("validerTeam");
            const annulerTeam = document.getElementById("annulerTeam");

                // Init
                divAjoutTeam.style.display = "block";
                ajouterTeam.style.display = "block";
                TeamsExistantes.style.display = "none";
                validerTeam.style.display = "none";
                annulerTeam.style.display = "none";

                ajouterTeam.addEventListener('click', function() {
                    divAjoutTeam.style.display = "block";
                    TeamsExistantes.style.display = "block";
                    ajouterTeam.style.display = "none";
                    validerTeam.style.display = "block";
                    annulerTeam.style.display = "block";
                });

                validerTeam.addEventListener('click', function() {
                    divAjoutTeam.style.display = "none";
                    TeamsExistantes.style.display = "none";
                    ajouterTeam.style.display = "none";
                    validerTeam.style.display = "none";
                    annulerTeam.style.display = "none";
                    addTeam();
                    console.log("ajout team validé");
                });

                annulerTeam.addEventListener('click', function() {
                    divAjoutTeam.style.display = "block";
                    TeamsExistantes.style.display = "none";
                    ajouterTeam.style.display = "block";
                    validerTeam.style.display = "none";
                    annulerTeam.style.display = "none";
                    console.log("ajout team annulé");
                });
        }
////////////////////////////////////////////////////  UTILISATEUR  ////////////////////////////////////////////////////////
        //////////////////////////// RECUPERER LE USERNAME
        async function recupUserInfo(){
            let repUser = await fetch("/api/utilisateur/"+monId, {
                method: "GET",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                }
            });
            // Récupère mon user
            let myUser =  await repUser.json()
            // Récupère mon username pour l'afficher
            document.getElementById("monUsername").textContent = document.getElementById("monUsername").textContent+myUser.user.username;
            document.getElementById("monNom").textContent = document.getElementById("monNom").textContent+myUser.user.nom;
            document.getElementById("monPrenom").textContent = document.getElementById("monPrenom").textContent+myUser.user.prenom;
            document.getElementById("maVilleFav").textContent = document.getElementById("maVilleFav").textContent+myUser.user.ville_fav;
            let monNum = String(myUser.user.tel);
            if(monNum[0]==6){
                document.getElementById("monTel").textContent = document.getElementById("monTel").textContent+"0"+monNum;
            }else{
                document.getElementById("monTel").textContent = document.getElementById("monTel").textContent+"+"+monNum;
            }
            
            let maDate = new Date(myUser.user.dateNaissance); // Mise au format lisible
            document.getElementById("maDateDeNaissance").textContent = document.getElementById("maDateDeNaissance").textContent+maDate.toLocaleDateString('fr-CA');
            // Récupère mon élément

        };
        recupUserInfo();

        //////////////////////////// MODIFIER USER 

        async function updateUser(){
            let data = {username: (document.getElementById("username").value ? document.getElementById("username").value : ""),
                nom: (document.getElementById("nom").value ? document.getElementById("nom").value : "" ),
                prenom: (document.getElementById("prenom").value ? document.getElementById("prenom").value : ""),
                ville_fav: (document.getElementById("ville_fav").value ? document.getElementById("ville_fav").value : ""),
                tel: (document.getElementById("tel").value ? document.getElementById("tel").value : ""),
                dateNaissance: (document.getElementById("dateNaissance").value ? document.getElementById("dateNaissance").value : ""),
                mdp: document.getElementById("mdp").value
            }
            let repUser = await fetch("/api/utilisateur/"+monId, {
                method: "PUT",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                },
                body: JSON.stringify(data)
            });
            if (repUser.ok) {
                console.log("update");
                window.location.href="/home.html";
            }
        };
        
        //////////////////////////// FONCTION SUPPRIMER USER
        async function deleteUser(){
            let repUser = await fetch("/api/utilisateur/"+monId, {
                method: "DELETE",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                }
            });
            
            localStorage.removeItem("id");
            localStorage.removeItem("token");
            localStorage.clear();
            window.location.href="/index.html";
        };

        //////////////////////////// FONCTION DECONNEXION 
        async function logoutUser(){            
            localStorage.removeItem("id");
            localStorage.removeItem("token");
            localStorage.clear();
            window.location.href="/index.html";
        };

//////////////////////////////////////////////////////  TEAM  //////////////////////////////////////////////////////////

        //////////////////////////// RECUPERER LA TEAM SI IL Y A
        async function recupTeam(){
            let repUser = await fetch("/api/utilisateur/"+monId, {
                method: "GET",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                }
            });
            if(repUser.ok){ 
                // Récupère mon user
                let myUser =  await repUser.json()
                // Récupère mon id de Team
                var myIdTeam = myUser.user.team;

                if(myIdTeam!= null){
                    // Récupère mon élément et ajoute si une team ses caractéristique
                    let repTeam = await fetch("/api/team/"+myIdTeam, {
                        method: "GET",
                        headers: {'Content-Type': 'application/json'}
                    });
                    // Récupère mon user
                    let myTeamInfo =  await repTeam.json()

                    document.getElementById("maTeamAMoi").insertAdjacentHTML("afterend",
                        "<ul id=\"maTeamUl\"><li>"+myTeamInfo.team.nomTeam+"</li><li>"+myTeamInfo.team.Description+"</li><li>"+myTeamInfo.team.dateCreation+"</li></ul>");
                    document.getElementById("maTeamUl").insertAdjacentHTML("afterend",
                        "<button id=\"suppTeam\">Supprimer ma team</button>");
                    
                        
                    const ajouterTeam = document.getElementById("ajouterTeam");
                    const divAjoutTeam = document.getElementById("divAjoutTeam");
                    
                    ajouterTeam.style.display = "none";
                    divAjoutTeam.style.display = "none";

                    
                    const supprimerTeam = document.getElementById("suppTeam");
                    supprimerTeam.addEventListener('click', function() {
                        divAjoutTeam.style.display = "block";
                        document.getElementById("TeamsExistantes").style.display = "block";
                        ajouterTeam.style.display = "block";
                        document.getElementById("validerTeam").style.display = "none";
                        document.getElementById("annulerTeam").style.display = "none";
                        suppTeam();
                    });
                } else {
                    document.getElementById("maTeamAMoi").insertAdjacentHTML("afterend",
                    "<p>Tu n'as pas encore de Team !</p>");
                    
                    recupAllTeam();
                }
            }
        };
        recupTeam();

        //////////////////////////// RECUPERER TOUTES LES TEAMS
        async function recupAllTeam(){
            let repTeams = await fetch("/api/team/", {
                method: "GET",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                }
            });
            if (repTeams.ok){
                let teamsRecup = await repTeams.json();
                let maDivDeTeam = "<select name=\"teams\" id=\"team-select\"><option value=\"\">--Choisis ta team !--</option>";
                for(i = 0; i < teamsRecup.team.length; i++){
                    maDivDeTeam  += "<option value=\""+teamsRecup.team[i]._id+"\">"+teamsRecup.team[i].nomTeam+"</option>";
                }
                maDivDeTeam += "</select>";
                document.getElementById("TeamsExistantes").innerHTML  += maDivDeTeam; 
            }else {
                alerte("Un problème est survenu, veuillez réessayer")
            }
        };

        //////////////////////////// AJOUT TEAM
        async function addTeam(){
            let teamRecup = document.getElementById("team-select").value;
            let data = {team: teamRecup};
            let repUser = await fetch("/api/utilisateur/team/"+monId, {
                method: "PUT",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                },
                body: JSON.stringify(data)
            });
            if (repUser.ok) {
                console.log("ajout team");
                window.location.href="/home.html";
            } else {
                alert("Un problème est survenu lors de l'ajout")
            }
        };

        //////////////////////////// SUPPRIMER TEAM
        async function suppTeam(){
            let data = {team: null};
            let repUser = await fetch("/api/utilisateur/team/"+monId, {
                method: "PUT",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                },
                body: JSON.stringify(data)
            });
            if (repUser.ok) {
                console.log("supp team");
                window.location.href="/home.html";
            } else {
                alert("Un problème est survenu lors de la suppression")
            }
        };

    </script>
</head>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- BODY -->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->

<body>
    <!-- HEADER -->
    <header class="header">
        <ul>
          <li><a href="">Acceuil</a></li>
          <li><a href="/entrainement.html">Entrainements</a></li>
          <li><a href="/sport.html">Sports</a></li>
            <input id="Déconnexion" type="button" value="Déconnexion" onclick="logoutUser();"/></li>
        </ul>
      </footer>
    </div> 

    <!-- PROFIL -->
    <div id="profil">
        <h1>Mon profil</h1>
        <p id="monUsername">Nom d'utilisateur : </p>
        <p id="monNom">Nom : </p>
        <p id="monPrenom">Prénom : </p>
        <p id="maVilleFav">La ville où je préfère pratiquer : </p>
        <p id="monTel">Téléphone : </p>
        <p id="maDateDeNaissance">Date de naissance : </p>

        <!-- MODIFIER MON COMPTE -->
        <button id="openBtnModif">Modifier mon profil</button>
        <dialog id="dialogModif">
            <button id="closeBtnModif">Annuler</button>
            <!-- Champs de mofication-->
            <form action="javascript:updateUser()">
                <h2>Modifier vos données</h2>
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" name="username" id="username" />
                <br/>
                <label for="nom">Nom :</label>
                <input type="text" name="nom" id="nom" />
                <br/>
                <label for="prenom">Prénom :</label>
                <input type="text" name="prenom" id="prenom" />
                <br/>
                <label for="ville_fav">Ville favorite :</label>
                <input type="text" name="ville_fav" id="ville_fav" />
                <br/>
                <label for="tel">Téléphone :</label>
                <input type="tel" name="tel" id="tel" pattern="^(\+33|0)[1-9](\d\d){4}$" title="Téléphone non valide, il doit commencer par un 0 ou +33 et doit comporter 9 autres numéros"/>
                <br/>
                <label for="dateNaissance">Votre date de naissance :</label>
                <input type="date" name="dateNaissance" id="dateNaissance" />
                <br/>
                <label for="mdp">Votre mot de passe :</label>
                <label class="obligation" >*obligatoire</label>
                <input type="password" name="mdp" id="mdp" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$" title="Mot de passe non valide, il doit comporter au moins une minuscule, une majuscule, un chiffre et entre 8 et 20 charactères." required="required"/>
                <br/>
                <button id="modifierUser">Modifier</button>
            </form>
            
        </dialog>

        <!-- SUPPRIMER MON COMPTE -->
        <button id="openBtnSup">Supprimer mon compte</button>
        <dialog id="dialogSup">
            <button id="closeBtnSup">Annuler</button>
            <button id="supprimerUser">Supprimer défninitivement</button>
        </dialog>
    </div>
    
    <!-- TEAM -->
    <div id="team">
        <h1 id="maTeamAMoi">Ma Team</h1>
        <div id="divAjoutTeam">
            <button id="ajouterTeam">Ajouter une team</button>
            <div id="TeamsExistantes">
            </div>
            <button id="annulerTeam">Annuler</button>
            <button id="validerTeam">Ajouter cette team</button>
        </div>
    </div>

    <!-- SPORT -->
    <div id="sport">
        <h1 id="mesSports"></h1>
    </div>

    <!-- ENTRAINEMENT -->
    <div id="divEntrainements">
        <h1>Mes entrainements</h1>
        <a href="/entrainement.html" id="entrainements">S'entrainer !</a>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <ul>
          <li><a href="aPropos.html">À propos</a></li>
          <li><a href="#politique">Politique de confidentialité</a></li>
          <li><a href="#session">Session</a></li>
          <li><a href="#reseaux">Réseaux sociaux</a></li>
        </ul>
    </footer>
    </div> 
</body>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- STYLE -->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!-- STYLE POUR LES POP-UP-->
<style>
    #openBtnSup, #closeBtnSup {
        border: none;
        background-color: hsl(0, 0%, 20%);
        color: #fff;
        border-radius: 3px;
        width: 200px;
        height: 40px;
        font-size: 1rem;
        font-family: sans-serif;
        cursor: pointer;
    }

    #closeBtnSup {
        width: 80px;
        height: 30px;
        font-size: 0.9rem;
        margin-bottom: 30px;
    }

    #openBtnSup:hover, #openBtnSup:focus,
    #closeBtn:hover, #closeBtnSup:focus{
        background-color: hsl(0, 56%, 30%);
    }

    #dialogSup {
        width: 20%;
        height: 20%;
        position: absolute;
        top: 60%;
        font-family: sans-serif;
        color: #555;
    }

    .obligation {
        color: red;
        font-size: small;
    }
</style>
</html>