<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Sportime</title>
    <link href="css/stylesheet.css" rel="stylesheet">
    <link rel="icon" href="img/logo.ico">
</head>

<body>
  <div id="app">
      <h1>SPORTIME</h1>
<!-- BODY -->
    <!-- Inscription -->
    <div id="inscription">
      <a href="/inscription.html">S'inscrire !</a>
    </div>
    <!-- Connexion -->
    <div id="connexion">
      <a href="/connexion.html">Se connecter</a>
    </div>
    <!-- Infos -->
  <section class="sectionInfos">
    <div class="grid-flex">
      <div class="col col-image" style="background-image: url(https://images.unsplash.com/photo-1602424845444-60c87a5bb0fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80);">
      </div>
      <div class="col col-text">
        <div class="Aligner-item">
          <h2 class="titleInfosIndex">Sportime c'est quoi ?</h2>
          <p>Sportime est la nouvelle application web de rencontre sportive dans ta ville !
            Tous les sports de ville sont les bienvenus, du skate au parkour en passant par le foot de rue !
          </p>
        </div>
      </div>
    </div>
    
    <div class="grid-flex">
      <div class="col col-image" style="background-image: url(https://images.unsplash.com/photo-1493040949342-4a493f766e87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80);">
        &nbsp;
      </div>
      <div class="col col-text col-left">
        <div class="Aligner-item">
          <h2 class="titleInfosIndex">Sportime c'est pour qui ?</h2>
          <p>Tout le monde !</p>
            <p>Tu as plus de 13 ans ? Alors vient t'amuser en faisant du sport et en rencontrant de nouvelles personnes ;
          </p>
        </div>
      </div>
    </div>

    <div class="grid-flex">
      <div class="col col-image" style="background-image: url(https://images.unsplash.com/photo-1616524983152-bb40856fd974?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
        &nbsp;
      </div>
      <div class="col col-text">
        <div class="Aligner-item">
          <h2 class="titleInfosIndex">Sportime c'est où ?</h2>
          <p>Dans ta ville mais aussi celle du monde entier !<br>
            Oui oui tu as bien entendu, la rencontre et l'amusement sont au rendez-vous ^^<br>
          </p>
        </div>
      </div>
    </div>
  </section>   
</div>

<!-- FOOTER -->
      <footer class="footer">
        <ul>
          <li><a href="aPropos.html">À propos</a></li>
          <li><a href="#politique">Politique de confidentialité</a></li>
          <li><a href="#session">Session</a></li>
          <li><a href="#reseaux">Réseaux sociaux</a></li>
        </ul>
      </footer>
    </div> 

  </body>
</html>