<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription - Sportime</title>
</head>

<body>
<!-- BODY -->
<div id="inscription">
  <form action="javascript:inscription()">
    <label for="username">Votre nom d'utilisateur :</label>
    <input type="text" name="username" id="username" required="required"/>
    <br/>
    <label for="nom">Votre nom :</label>
    <input type="text" name="nom" id="nom" required="required"/>
    <br/>
    <label for="prenom">Votre prenom :</label>
    <input type="text" name="prenom" id="prenom" required="required"/>
    <br/>
    <label for="ville_fav">Votre ville favorite :</label>
    <input type="text" name="ville_fav" id="ville_fav" required="required"/>
    <br/>
    <label for="tel">Votre téléphone :</label>
    <input type="tel" name="tel" id="tel" pattern="^(\+33|0)[1-9](\d\d){4}$" title="Téléphone non valide, il doit commencer par un 0 ou +33 et doit comporter 9 autres numéros" required="required"/>
    <br/>
    <label for="dateNaissance">Votre date de naissance :</label>
    <input type="date" name="dateNaissance" id="dateNaissance" required="required"/>
    <br/>
    <label for="mdp">Votre mot de passe :</label>
    <input type="password" name="mdp" id="mdp" required="required"/>
    <br/>
    <input type="submit" value="Inscription !">
  </form>
</div>
  
<!-- FOOTER -->
      <footer class="footer">
        <ul>
          <li><a href="#aPropos">À propos</a></li>
          <li><a href="#politique">Politique de confidentialité</a></li>
          <li><a href="#session">Session</a></li>
          <li><a href="#reseaux">Réseaux sociaux</a></li>
        </ul>
      </footer>
    </div> 

<!--Js -->
    <script>
      async function inscription(){
        
        let data = {username: document.getElementById("username").value,
          nom: document.getElementById("nom").value,
          prenom: document.getElementById("prenom").value,
          ville_fav: document.getElementById("ville_fav").value,
          tel: document.getElementById("tel").value,
          dateNaissance: document.getElementById("dateNaissance").value,
          mdp: document.getElementById("mdp").value,
          team: null,
          estAdmin: false
          }
        let repUserCreate = await fetch("/api/utilisateur", {
        method: "POST",
        headers: {'Content-Type': 'application/json'}, 
        body: JSON.stringify(data)
      });
      let myUser =  await repUserCreate.json();
      localStorage.setItem("id", myUser.userId);
      localStorage.setItem("token", myUser.token);
      window.location.href="/home.html";
      };
    </script>
    
  </body>
</html>