<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sports - Sportime</title>
    <link rel="icon" href="img/logo.ico">
    <link href="css/sport.css" rel="stylesheet">

    <script>
        //////////////////////////// Get Storage
        let monId = localStorage.getItem("id");
        let monToken = localStorage.getItem("token");

        //////////////////////////// FONCTION DECONNEXION 
        async function logoutUser(){            
            localStorage.removeItem("id");
            localStorage.removeItem("token");
            localStorage.clear();
            window.location.href="/index.html";
        };

        //////////////////////////// RECUPERER LE OU LES SPORTS SI IL Y EN A
        async function recupSport(){
            let repPratique = await fetch("/api/pratique/userId/"+monId, {
                method: "GET",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                }
            });
            if (repPratique.ok){
                // Récupère mes sports
                let myPratiques =  await repPratique.json()
                let nbSport = myPratiques.pratique.length;
                if(nbSport == 0){
                    document.getElementById("mesSportsH1").innerHTML  = "Tu n'as pas encore de sports ! Ajoutes-en...";
                } else {
                    if (nbSport == 1){
                        document.getElementById("mesSportsH1").innerHTML  = "Ton sport";
                    } else {
                        document.getElementById("mesSportsH1").innerHTML  = "Tes sports";
                    }
                    
                    var body = document.getElementById("tabSports");
                    // Création d'un <table> element et d'un <tbody> element
                    var tbl = document.createElement("table");

                    var tblTHead = document.createElement("thead");

                    var tr = document.createElement("tr");

                    var thNom = document.createElement("th");
                    var thCat = document.createElement("th");
                    var thDate = document.createElement("th");

                    var cellNom = document.createTextNode("Sport");
                    var cellCat = document.createTextNode("Niveau (1-5)");
                    var cellDate = document.createTextNode("Avis sur ce sport");

                    thNom.appendChild(cellNom);
                    thCat.appendChild(cellCat);
                    thDate.appendChild(cellDate);

                    tr.appendChild(thNom);
                    tr.appendChild(thCat);
                    tr.appendChild(thDate);

                    tblTHead.appendChild(tr);

                    tbl.appendChild(tblTHead);

                    var tblBody = document.createElement("tbody");

                    // création de ligne
                    for (var i = 0; i < nbSport; i++) {
                        // creation d'une ligne du tableau
                        var row = document.createElement("tr");

                        // création des colones
                        var idSport = document.createElement("td");
                        var niveau = document.createElement("td");
                        var avis = document.createElement("td");
                        var butt = document.createElement("td");

                        // RECUPERER NOM DU SPORT A PARTIR D'UN FETCH SUR L'ID
                        let repNomSport = await fetch("/api/sport/"+myPratiques.pratique[i].idSport, {
                            method: "GET",
                            headers: {
                                'content-type': 'application/json',
                                'authorization': localStorage.getItem('token'),
                            }
                        });
                        if(repNomSport.ok){
                            let mySport =  await repNomSport.json()
                            var cellSport = document.createTextNode(mySport.sport.nomSport);
                        }else {
                            var cellSport = document.createTextNode(myPratiques.pratique[i].idSport);
                        }
                        var cellNiveau = document.createTextNode(myPratiques.pratique[i].niveau);
                        var cellAvis = document.createTextNode(myPratiques.pratique[i].avis);
                        // Bouton
                        let idPratique = myPratiques.pratique[i]._id;
                        var cellSuppSport = document.createElement('input');
                        cellSuppSport.type = "button"
                        cellSuppSport.value = "Supprimer cette pratique"
                        cellSuppSport.addEventListener('click', function(){
                            supprimerPratique(idPratique);
                        });

                        idSport.appendChild(cellSport);
                        niveau.appendChild(cellNiveau);
                        avis.appendChild(cellAvis);
                        butt.appendChild(cellSuppSport);

                        row.appendChild(idSport);
                        row.appendChild(niveau);
                        row.appendChild(avis);
                        row.appendChild(butt);

                        // ajout de la ligne au tableau
                        tblBody.appendChild(row);
                    }

                    // put the <tbody> in the <table>
                    tbl.appendChild(tblBody);
                    tbl.setAttribute("border", "1");
                    // appends <table> into <body>
                    body.appendChild(tbl);

                }
            }    
        };
        recupSport();

        //////////////////////////// RECUPERER LE OU LES SPORTS SI IL Y EN A
        async function recupAllSport(){
            let repAllSport = await fetch("/api/sport/", {
                method: "GET",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                }
            });
            if (repAllSport.ok){
                // Récupère mes sports
                let allSport =  await repAllSport.json()
                let nbSport = allSport.sports.length;

                var bodyAll = document.getElementById("tabAllSports");
                // Création d'un <table> element et d'un <tbody> element
                var tblAll = document.createElement("table");
                
                var tblTHeadAll = document.createElement("thead");

                var trAll = document.createElement("tr");

                var thNom = document.createElement("th");
                var thCat = document.createElement("th");
                var thDate = document.createElement("th");
                
                var cellNom = document.createTextNode("Sport");
                var cellCat = document.createTextNode("Catégorie");
                var cellDate = document.createTextNode("Description");
                
                thNom.appendChild(cellNom);
                thCat.appendChild(cellCat);
                thDate.appendChild(cellDate);

                trAll.appendChild(thNom);
                trAll.appendChild(thCat);
                trAll.appendChild(thDate);
                
                tblTHeadAll.appendChild(trAll);

                console.log(tblTHeadAll);
                tblAll.appendChild(tblTHeadAll);

                var tblBodyAll = document.createElement("tbody");

                // création de ligne
                for (var i = 0; i < nbSport; i++) {
                    // creation d'une ligne du tableau
                    var rowAll = document.createElement("tr");

                    // création des colones
                    var nomSportAll = document.createElement("td");
                    var categorieAll = document.createElement("td");
                    var descriptionAll = document.createElement("td");
                    var ajouter = document.createElement("td");

                    var cellnomSportAll = document.createTextNode(allSport.sports[i].nomSport);
                    var cellcategorieAll = document.createTextNode(allSport.sports[i].categorie);
                    var celldescriptionAll = document.createTextNode(allSport.sports[i].description);
                    // Bouton
                    let idSportFct = allSport.sports[i]._id;
                    var cellAjoutSport = document.createElement('input');
                    cellAjoutSport.type = "button"
                    cellAjoutSport.value = "Ajouter ce sport à mes pratiques"
                    cellAjoutSport.addEventListener('click', function(){
                        ajouterSport(idSportFct);
                    });

                    nomSportAll.appendChild(cellnomSportAll);
                    categorieAll.appendChild(cellcategorieAll);
                    descriptionAll.appendChild(celldescriptionAll);
                    ajouter.appendChild(cellAjoutSport);

                    rowAll.appendChild(nomSportAll);
                    rowAll.appendChild(categorieAll);
                    rowAll.appendChild(descriptionAll);
                    rowAll.appendChild(ajouter);

                    // ajout de la ligne au tableau
                    tblBodyAll.appendChild(rowAll);
                }

                // put the <tbody> in the <table>
                tblAll.appendChild(tblBodyAll);
                tblAll.setAttribute("border", "1");
                // appends <table> into <body>
                bodyAll.appendChild(tblAll);
            }
            
        }
        recupAllSport();

        async function ajouterSport(idSport) { // !!! + vérifier que ce sport n'est pas déjà en base pour le user
            let monIdSport = arguments[0];
            
            let data = {
                idSport: monIdSport,
                idUser: monId,
                niveau : 2, // A CHANGER !!!
                avis : "Super" // A CHANGER !!!
            };
            let repPratique = await fetch("/api/pratique/", {
                method: "POST",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                },
                body: JSON.stringify(data)
            });
            if (repPratique.ok) {
                console.log("ajout pratique");
                window.location.href="/sport.html";
            } else {
                alert("Un problème est survenu lors de l'ajout du sport")
            }
        }

        async function supprimerPratique(idPratique) {
            let myidPratique = arguments[0];
            
            let repPratique = await fetch("/api/pratique/"+myidPratique, {
                method: "DELETE",
                headers: {
                    'content-type': 'application/json',
                    'authorization': localStorage.getItem('token'),
                }
            });
            if (repPratique.ok) {
                console.log("pratique supprimé");
                window.location.href="/sport.html";
            } else {
                alert("Un problème est survenu lors de la suppression du sport")
            }
        }
    </script>
</head>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- BODY -->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------->

<body>
    <!-- HEADER -->
    <header class="header">
        <ul id="ulHeader">
            <li><a href="/home.html">Acceuil</a></li>
            <li><a href="/entrainement.html">Entrainements</a></li>
            <li><a>Sports</a></li>
            <li><input id="Déconnexion" type="button" value="Déconnexion" onclick="logoutUser();"/></li>
        </ul>
      </footer>
    </div> 

    <!-- MES SPORTS -->
    <div id="mesSports">
        <h1 id="mesSportsH1"></h1>
        <div id="tabSports"></div>
    </div>

    <!-- TOUS LES SPORTS -->
    <div id="lesSports">
        <h1>Sport sur Sportime</h1>
        <div id="tabAllSports"></div>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <ul id="ulFooter">
            <li><a href="aPropos.html">À propos</a></li>
            <li><a href="#politique">Politique de confidentialité</a></li>
            <li><a href="#session">Session</a></li>
            <li><a href="#reseaux">Réseaux sociaux</a></li>
          </ul>
    </footer>
</body>
</html>