@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');


/* ------NAV HEADER------ */

#ulHeader {
    list-style-type: none;
    margin: 0;
    margin-left: -8px;
    padding: 10px 20px 10px 0px;
    background-color: rgb(19, 19, 19);
  /* position: fixed; */
    top: 0;
    width: 100%;
    height: auto;
    text-align: right;
    position: fixed;
    z-index: 10;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(19, 19, 19);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }

  .liHeadImg {
    float: left;
    padding-left: 50px;
  }
  
  .liHeadImg img {
    height : 15px;
    width: auto;
  }

  li:not(.liHeadImg) a:hover  {
    background-color: #eb333f;
  }

#Déconnexion {
    color: white;
    padding: 20px 16px;
    margin-left: 20px;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 5px;
    font-size: 16px;

}

#Déconnexion:hover {
    border-color: #eb333f;
    background-color: #eb333f;
}


/* ------NAV FOOTER------ */
#ulFooter {
    list-style-type: none;
    /* margin: 1%; /
    / padding: 0; */
    overflow: hidden;
    background-color: rgb(19, 19, 19);
    padding: 10px 0 10px 30px;
    margin-top: 40px;
  }
  
  .liBot {
    float: left;
  }
  
  .liBot a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }

  
/* Ajout tableau de ma team*/
#maTeamUl {
    border: #111 1px;
}

body {
    font-family: 'Prompt',sans-serif, Georgia;
}

/* ------BOUTONS------ */
.butt {
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: #fff;
    border-radius: 3px;
    width: 200px;
    height: 40px;
    font-size: 1rem;
    font-family: sans-serif;
    cursor: pointer;
}

#suppTeam:hover, #suppTeam:focus,
#openBtnSup:hover, #openBtnSup:focus,
#supprimerUser:hover, #supprimerUser:focus{
    background-color: hsl(0, 56%, 30%);
}

#openBtnModif:hover, #openBtnModif:focus,
#closeBtn:hover, #closeBtn:focus,
#modifierUser:hover, #modifierUser:focus,
#ajouterTeam:hover, #ajouterTeam:focus,
#validerTeam:hover, #validerTeam:focus{
    background-color: hsl(85, 34%, 55%);
}

#closeBtnModif:hover, #closeBtnModif:focus,
#closeBtnSup:hover, #closeBtnSup:focus{
    background-color: hsl(0, 0%, 89%);
    color: #333;
}

#dialogSup {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 60%;
    font-family: sans-serif;
    color: #555;
}

.obligation {
    color: red;
    font-size: small;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

td {
    display: table-cell;
    vertical-align: inherit;
    text-align: center;
}

html {
    width: 100%;
    height: 100%;
}

form input {
    margin: 10px 0;
}

body {
    margin: 0;
}

#profil, #team{
    margin: 40px auto 0 auto;
    padding: 40px 40px 60px 40px;
    width: 500px;
    /* border: solid 2px red; */
    border-radius: 50px;
    background-color: white;
    box-shadow: 22px 24px 53px 0px rgba(0,0,0,0.31);
-webkit-box-shadow: 22px 24px 53px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 22px 24px 53px 0px rgba(0,0,0,0.31);
    position: relative;
    top: -100px;
    /*z-index: 1;*/
}

#toutesTeam, #mesSports, #lesSports, #connexion, #inscription, #tousSport, #tousSpot{
  margin: 40px auto 0 auto;
  padding: 40px 40px 60px 40px;
  width: 60%;
  /* border: solid 2px red; */
  border-radius: 50px;
  background-color: white;
  box-shadow: 22px 24px 53px 0px rgba(0,0,0,0.31);
-webkit-box-shadow: 22px 24px 53px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 22px 24px 53px 0px rgba(0,0,0,0.31);
  position: relative;
  top: -100px;
  /*z-index: -1;*/
}

#entrainementsProp {
    margin: 40px auto 0 auto;
    padding: 40px 40px 60px 40px;
    width: 70%;
    /* border: solid 2px red; */
    border-radius: 50px;
    background-color: white;
    box-shadow: 22px 24px 53px 0px rgba(0,0,0,0.31);
  -webkit-box-shadow: 22px 24px 53px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 22px 24px 53px 0px rgba(0,0,0,0.31);
    position: relative;
    top: -100px;
    z-index: -1;
}

#sport, #spot, #team {
  margin: 40px auto 0 auto;
    padding: 40px 40px 60px 40px;
    width: 40%;
    /* border: solid 2px red; */
    border-radius: 50px;
    background-color: white;
    box-shadow: 22px 24px 53px 0px rgba(0,0,0,0.31);
  -webkit-box-shadow: 22px 24px 53px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 22px 24px 53px 0px rgba(0,0,0,0.31);
    position: relative;
    top: -100px;
    z-index: -1;
}

#profil h1, #team h1, #toutesTeam h1, #mesSports h1, #lesSports h1, #entrainementsProp h1,
#connexion h1, #inscription h1, #sport h1, #tousSport h1, #spot h1, #tousSpot h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-top: 0;
}

.imgTitle {
    margin: 160px auto 0 auto;
    height: 400px;
    width: 60%;
    border-radius: 50px;
    background-image: url('https://images.unsplash.com/photo-1534531304203-b830551771b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1112&q=80');
    background-size: cover;
    background-position: center;
    position: relative;
}

.imgTitleAdmin {
    margin: 160px auto 0 auto;
    height: 400px;
    width: 60%;
    border-radius: 50px;
    background-image: url('https://images.unsplash.com/photo-1627483298235-f3bac2567c1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    background-position: center;
    position: relative;
}

.imgTitleVide {
    margin: 160px auto 0 auto;
    height: 100px;
    width: 60%;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.imgTitleVideForm {
    margin: 160px auto 0 auto;
    height: 100px;
    width: 60%;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    position: relative;
}

#dialogModif {
  z-index: 11;
}

#connexion, #inscription {
    text-align: center;
}

#buttconnexionAdmin {
    font-family: 'Bebas Neue', cursive;
    font-size: 17px;
    margin-top: 0;
    color: #555;
    text-align: center;
}
