  
  @media (max-width: 640px) {
    .grid-flex {
      height: 40em;
      display: -webkit-flex;
      -webkit-flex-direction: column;
      flex-direction: column; 
     }
    .col {
      order:vertical;
    }
    .col-left {
      -webkit-box-ordinal-group:0;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
    }
    .col-text div p {
      padding: 1em;
    }
    .Aligner-item {
      width: 90%;
    }
  }

  html {
    overflow-x: hidden;
  }
  
  body {
    font-family: 'Prompt',sans-serif, Georgia;
    display: block;
    margin: 0px;
  }

/*TITRE SECTION*/
#imgLogo {
  width: 50%;
	height: 50%;
  margin: 160px 0 80px 0;
}

#divHeader {
  /* background-color: #333; */
  /* position: fixed; */
  width: 100%;
  display: block;
  text-align: center;
}

/*NAV HEADER SECTION*/

.ulHeader {
  list-style-type: none;
  margin: 0;
  margin-left: -8px;
  padding: 10px 20px 10px 0px;
  background-color: rgb(19, 19, 19);
  /* position: fixed; */
  top: 0;
  width: 100%;
  height: auto;
  text-align: right;
  position: fixed;
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(19, 19, 19);
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.liHeadImg {
  float: left;
  padding-left: 50px;
}

.liHeadImg img {
  height : 15px;
  width: auto;
}

/*
.liHead {
  float: right;
}

.liHead a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
*/


/* Change the link color to #111 (black) on hover */
li:not(.liHeadImg) a:hover  {
  background-color: #eb333f;
}

/*NAV FOOTER SECTION*/

#ulFooter {
  list-style-type: none;
  /* margin: 1%; /
  / padding: 0; */
  overflow: hidden;
  background-color: rgb(19, 19, 19);
  padding: 10px 0 10px 30px;
  margin-top: 40px;
}

.liBot {
  float: left;
}

.liBot a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* .liBot a:hover {
  background-color: #111;
} */

/*INFO SECTION*/

.sectionInfos {
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

.col-text {
    height:400px;
  }
  .grid-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: row; 
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
  }
  .col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .col-left {
    -webkit-box-ordinal-group:-1;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .col-text{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Aligner-item {
    width: 60%;
  }
  .col-image {
    background-size: cover;
    background-position:center center;
  }

  .titleInfosIndex {
    position: relative;
    left: -60px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-block-end: 5px;
  }
  
  