/*TITRE SECTION*/
#imgLogo {
  width: 50%;
	height: 50%;
}

#divHeader {
  background-color: #333;
  /* position: fixed; */
  width: 100%;
  display: block;
  text-align: center;
}

/*NAV HEADER SECTION*/

.ulHeader {
  list-style-type: none;
  margin: 0;
  margin-left: -8px;
  padding: 10px 20px 10px 0px;
  background-color: #333;
  /* position: fixed; */
  top: 0;
  width: 100%;
  text-align: right;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.liHead {
  float: right;
}

.liHead a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.liHead a:hover {
  background-color: #111;
}

/*NAV FOOTER SECTION*/

#ulFooter {
  list-style-type: none;
  /* margin: 1%; /
  / padding: 0; */
  overflow: hidden;
  background-color: #333;
  padding: 10px 0 10px 30px;
}

.liBot {
  float: left;
}

.liBot a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.liBot a:hover {
  background-color: #111;
}

/*INFO SECTION*/

.sectionInfos {
  width: 80%;
  margin: auto;
  padding-top: 80px;
}

.col-text {
    height:400px;
  }
  .grid-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: row; 
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
  }
  .col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .col-left {
    -webkit-box-ordinal-group:-1;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .col-text{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Aligner-item {
    width: 60%;
  }
  .col-image {
    background-size: cover;
    background-position:center center;
  }

  .titleInfosIndex {
    position: relative;
    left: -60px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-block-end: 5px;
  }
  
  @media (max-width: 640px) {
    .grid-flex {
      height: 40em;
      display: -webkit-flex;
      -webkit-flex-direction: column;
      flex-direction: column; 
     }
    .col {
      order:vertical;
    }
    .col-left {
      -webkit-box-ordinal-group:0;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
    }
    .col-text div p {
      padding: 1em;
    }
    .Aligner-item {
      width: 90%;
    }
  }
  
  
  body {
    font-family:  'Prompt', Georgia, serif;
    display: block;
    margin: 0px;
  }